SERVER_DOWN = False
ERROR_MESSAGE = "Sorry! The server is temporarily down. Please try again later."

TEST_USER = ''
ENVIRON = ''
SECRET_KEY = ''
WSAPI_SECRET = ''
LOGOUT_URL = ''

SENTRY_URL = ''
ORACLE_CONNECTION = {
    'USER': '',
    'PASSWORD': '',
    'HOST': '',
    'SERVICE_NAME': ''
}
