{% extends 'base.html' %}

{% block body_content %}
    <div align="center">
        <h1 class='header'>RFID Scanner Sessions</h1>
        <button id='create-session' type="button" class="btn btn-primary" data-toggle="modal" data-target="#sessionModal">+ Create Session</button>
    </div>
    <hr>

    {# SHOWS ALERTS #}
    {% if alert %}
        {% for a in alert %}
            <div class="margins">
                <div class="alert alert-{{ a.type }} alert-dismissible fade show" role="alert">
                    {{ a.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {%- macro create_session_card(rfid_session) %}
        <div class="col-12 col-md-6 col-lg-4 p-2 mt-4">
            <div class='card session p-3 mb-3'>
                <span class="edit-session p-1" aria-hidden="true"
                        data-toggle="modal" data-target="#sessionModal" data-session-id="{{ rfid_session.get('id') }}" data-description="{{ rfid_session.get('description') }}" data-name="{{ rfid_session.get('form_name') }}" aria-label="Edit">
                    <i class="fa fa-pencil-alt"></i>
                </span>

                <button class="btn btn-danger delete-session"
                        aria-label="Close" data-toggle="modal" data-target="#deleteModal" data-session-id="{{ rfid_session.get('id') }}">
                    <span aria-hidden="true" style="font-size: 30px;
                                                    position: absolute;
                                                    top: -10px;
                                                    left: 6px;">&times;</span>
                </button>

                <h4 class="form_name pt-4 mt-1" align="center">{{ rfid_session.get('form_name') }}</h4>
                <p align="center" data-toggle="tooltip" data-placement="bottom" title="This number may include duplicates.">
                    {% if rfid_session.get('status') != 'Archived' %}
                        <span class="badge badge-warning">open</span>
                    {% else %}
                        <span class="badge badge-secondary">archived</span>
                    {% endif %}
                    Total scans: {% if  rfid_session.get('total') %}{{ rfid_session.get('total') }}{% else %}0{% endif %}
                </p>
                <hr>

                <div class="container">
                    <div class="row">
                        {% if rfid_session.get('status') == 'Open' %}
                            <a href="{{ url_for('View:go_to_session', session_id=rfid_session.get('id')) }}" class="col-12 mb-2 btn btn-success">Go to Session</a>
                            <a href="{{ url_for('View:download_csv', session_id=rfid_session.get('id')) }}" class="col-12 mb-2 btn btn-primary">Download CSV</a>
                            <a href="{{ url_for('View:archive_session', session_id=rfid_session.get('id')) }}" class="col-12 btn btn-secondary">Archive Session</a>
                        {% elif rfid_session.get('status') == 'Archived' %}
                            {# Archived #}
                            <a href="{{ url_for('View:start_session', session_id=rfid_session.get('id')) }}" class="col-12 mb-2 btn btn-success">Reopen Session</a>
                            <a href="{{ url_for('View:download_csv', session_id=rfid_session.get('id')) }}" class="col-12 btn btn-primary">Download CSV</a>
                        {% else %}
                            <p class="col-12">Error loading this session. Please try reloading the page. If you are still seeing issues, contact the Help Desk at <a href="mailto:helpdesk@bethel.edu">helpdesk@bethel.edu</a>. Thanks!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endmacro %}

    {% if open_rfid_sessions|length > 0 or archived_rfid_sessions|length > 0 %}
        {% if open_rfid_sessions|length > 0 %}
            <h2 class="pt-5">Open Sessions</h2>
            <div class="container">
              <div class="row">
                {% for rfid_session in rfid_sessions %}
                    {% if rfid_session.get('status') == 'Open' %}
                        {{ create_session_card(rfid_session) }}
                    {% endif %}
                {% endfor %}
              </div>
            </div>
        {% endif %}
        {% if archived_rfid_sessions|length > 0 %}
            <h2 class="pt-5">Archived Sessions</h2>
            <div class="container">
              <div class="row">
                {% for rfid_session in rfid_sessions %}
                    {% if rfid_session.get('status') == 'Archived' %}
                        {{ create_session_card(rfid_session) }}
                    {% endif %}
                {% endfor %}
              </div>
            </div>
        {% endif %}
    {% else %}
        <div class="pt-4">
            <p>No sessions created for you, yet. Click "+ Create Session" above to create your first session.</p>
        </div>
    {% endif %}


    <!-- Create/Edit Session Modal -->
    <div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="form" action="{{ url_for('View:create_new_session') }}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="sessionModalLabel">Create Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <input id='session_id_field' type="hidden" name="session_id" />
                  <label for="form_name">Name
                      <br>
                      <textarea id='form_name_field' name="form_name" rows="2" cols="50" maxlength="150"></textarea>
                  <br>
                  <label for="form_description">Description
                      <br>
                      <p><small>Displays a message on the sign-in screen for this session.</small></p>
                      <textarea id='form_description_field' name="form_description" rows="10" cols="50" maxlength="1000"></textarea>
                  </label>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <input type="submit" class="btn btn-primary" />
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Session Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="form" action="{{ url_for('View:delete_session') }}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to delete this session?</p>
                  <input id='delete_session_id_field' type="hidden" name="session_id" />
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <input type="submit" class="btn btn-primary" />
              </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}