{% extends 'base.html' %}

{% block body_content %}
    <div align="center">
        <h1 class='header'>RFID Scanner Sessions</h1>
        <p>Todo list: Wait for Ben to get a domain name, format homepage, get the footer figured out, and put it on XP</p>
        <button id='create-session' type="button" class="btn btn-primary" data-toggle="modal" data-target="#sessionModal">+ Create Session</button>
    </div>
    <hr>

    {# SHOWS ALERTS #}
    {% if alert %}
        {% for a in alert %}
            <div class="margins">
                <div class="alert alert-{{ a.type }} alert-dismissible fade show" role="alert">
                    {{ a.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
      <div class="row">

        {% for rfid_session in rfid_sessions %}
            <div class="col-12 col-lg-4 col-md-6 justify-content-start p-2">
                <div class='card session p-3' data-session-id="{{ rfid_session.get('id') }}">
                    <h3 class="form_name" align="center">{{ rfid_session.get('form_name') }}</h3>
                        {# TODO: decide if we want to display descriptions on the homepage #}
{#                    {% if rfid_session.get('description') != '' %}#}
                        <span class="form_description" style="visibility: hidden"></span>
{#                    {% endif %}#}
                    <p align="center">Total scans: {% if rfid_session.get('total') %}{{ rfid_session.get('total') }}*{% else %}0{% endif %}</p>
                    <small>* This includes duplicates</small>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <button class="col-6 btn btn-primary edit-session" data-toggle="modal" data-target="#sessionModal" data-description="{{ rfid_session.get('description') }}" data-name="{{ rfid_session.get('form_name') }}">Edit Details</button>

                            {% if rfid_session.get('status') == 'Created' %}
                                {# Not yet opened #}
                                <a href="{{ url_for('View:start_session', session_id=rfid_session.get('id')) }}" class="col-6 btn btn-success">Start Session</a>
                            {% elif rfid_session.get('status') == 'Open' %}
                                {# Opened #}
                                <a href="{{ url_for('View:go_to_session', session_id=rfid_session.get('id')) }}" class="col-6 btn btn-success">Go to Session</a>
                                <a href="{{ url_for('View:close_session', session_id=rfid_session.get('id')) }}" class="col-6 btn btn-primary">Close Session</a>
                            {% elif rfid_session.get('status') == 'Closed' %}
                                {# Closed #}
                                <a href="{{ url_for('View:start_session', session_id=rfid_session.get('id')) }}" class="col-6 btn btn-success">Reopen Session</a>
                            {% else %}
                                <p class="col-12">Please try reloading the page. If you still have issues, contact the Help Desk at <a href="mailto:helpdesk@bethel.edu">helpdesk@bethel.edu</a>. Thanks!</p>
                            {% endif %}
                            <a href="{{ url_for('View:download_csv', session_id=rfid_session.get('id')) }}" class="col-6 btn btn-primary">Download CSV</a>
                            <button class="col-6 delete-session btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Session</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>


    <!-- Create/Edit Session Modal -->
    <div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="form" action="{{ url_for('View:create_new_session') }}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="sessionModalLabel">Create Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <input id='session_id_field' type="hidden" name="session_id" />
                  <label for="form_name">Name<input id='form_name_field' type="text" name="form_name"/></label>
                  <br>
                  <label for="form_description">Description<textarea id='form_description_field' name="form_description" rows="10" cols="50" maxlength="1000"></textarea></label>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <input type="submit" class="btn btn-primary" />
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Session Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="form" action="{{ url_for('View:delete_session') }}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to delete this session?</p>
                  <input id='delete_session_id_field' type="hidden" name="session_id" />
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <input type="submit" class="btn btn-primary" />
              </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}