<nav class="navbar navbar-expand-lg navbar-dark bkg--navy">
    {% if '/no-cas/' in request.url %}
        <div class="modal fade" id="homepageModal" tabindex="-1" role="dialog" aria-labelledby="homepageModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="homepageModalLabel">Exit Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to leave this page and go to your other sessions?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <a href="{{ url_for('View:index') }}" class="btn btn-primary">Leave this page</a>
              </div>
            </div>
          </div>
        </div>

        <a class="navbar-brand" data-toggle="modal" data-target="#homepageModal">
            <img height="48" src="https://confluence.bethel.edu/download/attachments/327682/global.logo?version=4&amp;modificationDate=1462424762000&amp;api=v2">
            <span class="ml-2  h6">Checkin</span>
        </a>
    {% else %}
        <a class="navbar-brand" href="{{ url_for('View:index') }}">
            <img height="48" src="https://confluence.bethel.edu/download/attachments/327682/global.logo?version=4&amp;modificationDate=1462424762000&amp;api=v2">
            <span class="ml-2  h6">Checkin</span>
        </a>
    {% endif %}

        {% if 'scan-session' not in request.url %}
            <div class="nav-item dropdown navbar-right">
                {% if session['name'] %}
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{ session.get('name').get('first_name') }} {{ session.get('name').get('last_name') }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                    </div>
                {% else %}
                    <a class="nav-link" id="navbarLogin" role="button" href="{{ url_for('View:index') }}">Login</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</nav>