{% extends 'base.html' %}

{% block body_content %}
    <div align="center">
        <h1 class="header">{{ rfid_session.get('form_name') }}</h1>
        <p>Welcome! Scan your id to sign in.</p>
        {% if rfid_session.get('description', '') != None and rfid_session.get('description', '') != '' %}
            <p>{{ rfid_session.get('description') }}</p>
        {% endif %}
        <div class="alert-container"></div>
    </div>

{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            var input = "";
            $(document).on('keydown', function(key){
                if(key.keyCode == 13){
                    var url = "{{ url_for('View:verify_scanner') }}";
                    var scannedInput = {
                        'scan': input,
                        'session_id': "{{ session_id }}"
                    };
                    $.post(url, scannedInput, function(data){
                        $('.alert-container').append(data);
                        $(".alert-dismissible").fadeTo(5000, 500).slideUp(500, function(){
                            $(this).alert('close');
                        });

                        input = "";
                    });
                    input = "";
                }else{
                    input = input + key.key;
                }
            });
        });
    </script>
{% endblock %}