{% extends 'base.html' %}

{% block body_content %}
    <div align="center">
        <h1 class="header">{{ rfid_session.get('form_name') }}</h1>

        {# online indicator #}
        <div class="online-indicator" data-toggle="tooltip" data-placement="top" title="Connected to Internet">
            <i class="fas fa-2x fa-wifi"></i>
        </div>
        {# offline indicator #}
        <div class="offline-indicator"  data-toggle="tooltip" data-placement="top" title="You are not connected to the Internet. Scan data will be stored in your browser. Once you connect to the Internet, the scan data will be uploaded.">
            <i class="fas fa-2x fa-wifi offline-indicator-wifi"></i>
            <i class="fas fa-2x fa-slash offline-indicator-slash"></i>
            {# This starts off hidden, but gets shown when the user is offline and there is data. #}
            <p id="offline-data-message">Offline data needs to sync. Please connect to the Internet so you don't lose the data. This data will be stored in your browser until you clear your cache and cookies, or the data syncs.</p>
        </div>

        <p>Welcome! Scan your id to sign in.</p>
        {% if rfid_session.get('description', '') != None and rfid_session.get('description', '') != '' %}
            <p>{{ rfid_session.get('description') }}</p>
        {% endif %}
        <div class="alert-container"></div>
    </div>

{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            var input = "";
            $(document).on('keydown', function(key){
                if(key.keyCode == 13){
                    var url = "{{ url_for('View:verify_scanner') }}";
                    var scannedInput = {
                        'scan': input,
                        'session_id': "{{ session_id }}"
                    };
                    // by setting the variable "that", we allow input to be used inside.
                    var that = input;
                    $.post(url, scannedInput, function (data) {
                        $('.alert-container').append(data);
                        $(".alert-dismissible").fadeTo(5000, 500).slideUp(500, function () {
                            $(this).alert('close');
                        });

                        input = "";
                    }).fail(function(response){
                        // we hit this code when there is no internet connection!
                        // build the alert manually here, as we can't get it from python.
                        data = `
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>ERROR: No Internet connection! Please fix your Internet connection and try again.</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        `;
                        $('.alert-container').append(data);
                        $(".alert-dismissible").fadeTo(5000, 500).slideUp(500, function () {
                            $(this).alert('close');
                        });

                        var current_session_data = window.localStorage.getItem('{{ session_id }}');
                        // if the data doesn't exists, then clear it from a None value to an empty string
                        if( !current_session_data ) {
                            current_session_data = ''
                        }
                        // the variable "that" is set above the post method. It stores the data of the card id.
                        window.localStorage.setItem('{{ session_id }}', current_session_data + that);

                        // show the user there is offline data.
                        $('#offline-data-message').show();
                        input = '';
                    });
                    input = "";
                }else{
                    // only allow valid characters
                    if( '[]0123456789'.includes(key.key) ){
                        input = input + key.key;
                    }
                }
            });

            // add event listeners to offline/online indicators
            window.addEventListener('offline', function() {
                change_to_offline();
            });
            window.addEventListener('online', function() {
                change_to_online();
            });

            // show/hide initial offline/online indicators
            if( navigator.onLine ) {
                change_to_online();
            } else {
                change_to_offline();
            }

            function change_to_online(){
                $('.offline-indicator').hide();
                $('.online-indicator').show();
                $('#offline-data-message').hide();

                // check if there is data to send
                var storage_data = window.localStorage.getItem('{{ session_id }}');
                if( storage_data ) {
                    var url = "{{ url_for('View:send_offline_data') }}";
                    var scannedInput = {
                        'scan_data': storage_data,
                        'session_id': "{{ session_id }}",
                    };
                    $.post(url, scannedInput, function (data) {
                        if (data){
                            $('.alert-container').append(data);
                            $(".alert-dismissible").fadeTo(5000, 500).slideUp(500, function () {
                                $(this).alert('close');
                            });
                        }
                        window.localStorage.removeItem('{{ session_id }}');
                    });
                }
            }

            function change_to_offline(){
                $('.offline-indicator').show();
                $('.online-indicator').hide();

                var storage_data = window.localStorage.getItem('{{ session_id }}');
                if( storage_data ) {
                    $('#offline-data-message').show();
                }
            }

            // initialize tooltips
            $('.offline-indicator').tooltip();
            $('.online-indicator').tooltip();
        });
    </script>
{% endblock %}